body {
    margin-left: 5%;
    margin-right: 5%;
}
h1 {
    color: green;
}
.title_manga {
    font-size: 20px;
    color: red;
}
.title_manga b:hover {
    border-bottom: #ff0000 solid 2px;
}
.list_manga {
    float: left;
    padding: 10px;
    background: whitesmoke;
    width: 65%;
    margin-bottom: 10px;
}
.manga{
    margin: 15px 10px;
    border-radius: 20px;
    float: left;
    width: 150px;
    height: 230px;
    background: white;
    padding: 10px;
}
.manga div{
    font-size: 10px;
    opacity: 0.3;
    text-align: center;
    padding: 10px;
}
.manga div:hover{
    opacity: 0.8;
}
.tg{
    font-size: 10px;
}
.manga img{
    border-radius: 20px;
    width: 150px;
    height: 200px;
}
.manga a{
    color: black;
    text-decoration: none;
}
.header{
    padding: 10px;
    background: whitesmoke;
}
.top{
    background: whitesmoke;
    padding: 10px;
    float: right;
    width: 30%;
    margin-bottom: 10px;
}
.list_top{
    margin: 5px 0px;
    float: left;
    width: 100%;
    background: white;
}
.list_top img{
    border-radius: 20px;
    width: 70px;
    height: 100px;
}
.list_top img, .list_top div{
    float: left;
    margin: 5px;
}
.footer{
    clear: both;
    padding: 10px;
    background: whitesmoke;
}