
@media only screen and (max-width: 1080px){
    .manga{
        width: 25%;
    }
}

@media only screen and (max-width: 720px){
    .manga{
        width: 50%;
    }
    .titter{
        float: none;
    }
}
@media only screen and (max-width: 480px){
    .manga{
        width: 100%;
    }
    .link_sun{
        display: none;
    }
}